/* @override http://localhost:4000/stylesheets/rsvp.css */

#meetupConnect {
	background-color: red;
	margin: 50px 15px auto;
	padding: 20px;
	border-top: 1px solid #f99;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-color: #fe6767;
		border-right-style: solid;
	border-right-color: #fe6767;
	text-align: center;
	color: #fffefe;
	font-size: 32px;
	font-weight: bold;
}